 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Nova Série</h3>
      </header>
      <div class="content"> 
      </div>
      <h2> Série cadastrada com sucesso. </h2>
      <a href="/serie/lst" class="btn primary">Voltar para Lista de Séries</a>    

      <%-include('../rodape.ejs')%>