<%-include('../cabecalho.ejs')%>
<section class="section">
    <div class="success-message">
        <h2>Série editada com sucesso!</h2>
        <p>As alterações foram salvas.</p>
        <a href="/serie/lst" class="btn primary">Voltar para Lista de Séries</a>
    </div>
</section>
<%-include('../rodape.ejs')%>