 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Plano</h3>
      </header>
      <div class="content"> 
      </div>
      <h2> Plano cadastrado com sucesso. </h2>
      <a href="/plano/lst" class="btn primary">Voltar para Lista de Planos</a>

      <%-include('../rodape.ejs')%>