<%-include('./cabecalho.ejs')%>
<section class="section">
    <div style="display:flex; align-items:end; justify-content:space-between; gap:16px; flex-wrap:wrap;">
        <div>
           <!---- <h2>Bem-vindo ao Sistema de Gerenciamento de Times de Volei</h2>
            <p>Use o menu acima para navegar entre as opções disponíveis.</p> ---->
            <h2>Bem-vindo ao Sistema de Gerenciamento de Streaming</h2>
            <p>Use o menu acima para navegar entre as opções disponíveis.</p>
        </div>
    </div>
</section>
<hr>
<p>Inácio Silva Carvalho</p>
<%-include('./rodape.ejs')%>