 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Time</h3>
      </header>
      <div class="content"> 
      </div>
      <h2> Time cadastrado com sucesso. </h2>
       Time:<%=nome%>

      <%-include('../rodape.ejs')%>