<%-include('../cabecalho.ejs')%>
<section class="section">
    <div class="success-message">
        <h2>Time editado com sucesso!</h2>
        <p>As alterações foram salvas.</p>
        <a href="/times/lst" class="btn primary">Voltar para Lista de Times</a>
    </div>
</section>
<%-include('../rodape.ejs')%>