 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Filme</h3>
      </header>
      <div class="content"> 
      </div>
      <h2> Filme cadastrado com sucesso. </h2>
      <a href="/filme/lst" class="btn primary">Voltar para Lista de Filmes</a>

      <%-include('../rodape.ejs')%>