<%-include('../cabecalho.ejs')%>
<section class="section">
    <div class="success-message">
        <h2>Filme editado com sucesso!</h2>
        <p>As alterações foram salvas.</p>
        <a href="/filme/lst" class="btn primary">Voltar para Lista de Filmes</a>
    </div>
</section>
<%-include('../rodape.ejs')%>