 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Torneio</h3>
      </header>
      <div class="content"> 
      </div>
      <h2> Torneio cadastrado com sucesso. </h2>
       Torneio:<%=nome%>

      <%-include('../rodape.ejs')%>